@import url('https://fonts.cdnfonts.com/css/agency-fb');
html{
  scroll-behavior:smooth;
}
body{
  font-family:sans-serif;
  background-color:linear-gradient(steelblue,green);
}

p{
  color:rgb(34, 160, 238);
  font-size: 1rem;
  line-height:1.5;
}
h1{
  text-decoration:underline;
  text-align: center;
  background-color:rgba(100, 18, 18,0.5);
  color: rgb(172, 32, 32);
  padding: 0;
  margin-top:0;
  margin-bottom:0;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
header .curr{
  margin-top:0.1rem;
  padding:0;

}
header .cont{
  margin-top:0.1rem;
  padding:0;
}
/*will redo the image specs later*/
img{
  margin:0;
  padding:0;  
  display:block;
  align-content:center;
}

nav ul{
  display:flex;
  flex-wrap:column nowrap;
  justify-content:space-evenly;
  text-align:center;
  font-size:20px;
  list-style-type:none;
  margin-top:0;
  margin-bottom:0;
  padding:0;
  background-color:rgb(107, 20, 20);

}
nav ul a{
  color:whitesmoke;
}
a.website{
  color:rgb(51, 65, 77);
}
  a.website:hover{
    color:red;
  }
  a.website:visited{
    color:gold;

  }
a.tel{
  color:brown;
}
 a.tel:hover{
  color:red;

 }
a.tel:visited{
  color:aqua;
}
a.email{
  color:bisque;
}
a.email:visited{
  color:cadetblue;
}
a.email:hover{
  color:red;
}
table, tr, th, td, caption {
  border:1px solid #333131;
  font-family: monospace;
  border-collapse: collapse;
  padding: 0.5rem;
  margin:2em;
  background-color: pink;
 }

 


span{
    text-decoration:line-through;
    font-style:italic;
    color:brown;
  }

.quote{
  font-size:1.9rem;
  font-family:'Agency FB'
}
 header{
  text-align:center;
  text-decoration:underline;
  background-color:rgba(100, 18, 18,0.8);
  color:rgb(224, 11, 11);
  
 }
 h3{
  text-align:center;
  text-decoration:underline;
  color:rgb(131, 14, 14)
  
 }
 dt{
  color:brown;
  list-style-type:circle;
  margin-left:1rem;
 }
 dt dd{
  color:aqua;
  list-style-type:lower-alpha;
 }
aside{
  color:indigo;
 }
 button{
  background-color: blue;
  color:aqua;
 }

 
